extends publicLayout
block content

  .div(class="main container clearfix")
      ul.getting-started(style="background-color:#542; color:#ddd")
          li.clearfix
            .step
              h3 Black Tea
              p Black Tea description ... 
      // If link section to the right include line below (and adjust Links.jade file as required) //
      include Links

