extends publicLayout
block content
  .default-page
      .header
        h1#main-title.container Nokcha Tea
         
      .main.container.clearfix
        h2  Welcome to Nokcha Tea House
               
        ul.getting-started
          li.clearfix
            .step
              .sprite.one
              
              h3 Tea
              br                   
              h4 About Tea ...
              br                   
              a(href='/teas')
                button.btn.btn-primary Go to main Tea page
              br
                     
          li.clearfix
            .step
              .sprite.two
                                 
              h3 Ceramics
              br 
              h4 About Ceramics 
              br      
              a(href='/ceramics')
                button.btn.btn-primary Go to Ceramics page
          
          li.clearfix
            .step
              .sprite.three
                                 
              h3 Visit Us
                                 
              h4 The Blue Banana

        // If link section to the right include line below (and adjust Links.jade file as required) //
        include Links
