extends publicLayout
block content
  .default-page
      .header
        h1#main-title.container Nokcha Tea
         
      .main.container.clearfix
          i.fa.fa-coffee.fa-3x
          h2  Welcome to Nokcha Tea House
               
          ul.getting-started
            li.clearfix
              .step
                a(href='/teas')
                  button.btn.btn-large(style="background-color:#533; color:#eee") Teas
                       
            li.clearfix    
              .step                            
                a(href='/ceramics')
                  button.btn.btn-large(style="background-color:#533; color:#eee") Ceramics 
            
            hr 

            h5 Find us at the Blue Banana Market (Kensington), Toronto, ON 
            script(src="http://maps.googleapis.com/maps/api/js")
            div#googleMap(style="width:500px;height:380px;")
          
          // If link section to the right include line below (and adjust Links.jade file as required) //
          include Links
